@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.600/neodgm/style.css');

body {
    font-family: 'NeoDunggeunmo';
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    justify-content: center; 
    align-items: center; 
}


.logo {
    height: 60px;
    margin-right: 20px;
}


.red-line {
    width: 810px;
    height: 2px; 
    background-color: red;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.menu-item img {
    height: 60px;
}

.menu-item p {
    margin: 0px 0 0; 
    font-size: 14px;
    text-align: center;
    color: white;
}



main {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 40px;
}
  
h1 {
    line-height: 0%;
}
  
hr {
    margin-bottom: 40px;
}
  
.content {
    width: 70%;
}
  
.title {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}
  
.introduction-text {
    margin-bottom: 8px;
    color: gray;
}



#map-container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#map {
    border: 2px solid #282828; /* 지도 컨테이너의 테두리 설정 */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); 
}



.footer {
    width: 100%;
    background-color: #000; 
    color: #FF0000; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.footer-line {
    display: flex;
    align-items: center;
    border-top: 2px solid #FF0000; 
    border-bottom: 2px solid #FF0000; 
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
}

.footer-logo {
    height: 60px;
    margin-right: 20px;
}

.footer-text {
    color: #FF0000; 
    font-size: 16px;
}